:root {
    --header-container-height: 80px;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: "Libre Caslon Text", serif;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: var(--header-container-height);
}

.nav {
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Libre Caslon Text", serif;
    font-size: 17px;
}

a {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

a:hover {
    color: #C7B8A2;
}

.elipse {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
}

.homePage {
    display: flex;
    justify-content: end;
}

.img {
    height: 700px;
    width: 800px;
    background-size: cover;
    background-position: center;

}

.home-container {
    height: calc(100% - var(--header-container-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container h1 {
    font-size: 100px;
}


.home-container h3 {
    font-size: 30px;
}

.title {}