body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    color: #FFFF;
}

.container {
    display: flex;
}

p {
    border: #FFFF 1px solid;
    /* flex-direction: row-reverse; */
}