@media (max-width: 600px) {
    .header_nav {
        display: none;
    }

    .component_2 {
        display: none;
    }

    .user {
        display: none;
    }

    .header_top {
        display: flex;
        justify-content: center;
    }

    .banner_container {
        width: 375.01px;
        height: 179.69px;

    }

    #playInner {
        padding: 0;
        height: fit-content;
        overflow: hidden;
        display: flex;
        justify-content: center;

    }

    .play_item {
        width: 155px;
        height: 230px;
        margin-bottom: 16px;
    }

    .container_img {
        width: 80px;
        height: 80px;
        /* margin: 15px 0 0 0; */
    }

    .container_img img {
        width: 100%;
    }


    .play_info {
        padding: 0;
    }

    .prize {
        font-size: 18px;
    }




    .btn_play {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F7D300;
        height: 32px;
        width: 139px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        margin: 5px auto;
    }

    .winners {
        height: auto;

    }


    .winner_container {
        padding: 0;
    }

    .winner-wapper {
        display: block;
        width: auto;
        padding: 0;
    }


    .won {
        height: auto;
        padding: 0;
    }


    .winner_col_one {
        padding: 0 15px;
        width: auto;
    }

    .winner_info {
        display: block;
    }


    .winner_content {
        padding: 0;
    }


    /* .win_result {
        margin-left: 25px;
    } */

}