/* Header */
.header {
    display: flex;
    height: 80px;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.logout {
    border: none;
    color: blue;
    background-color: rgba(240, 248, 255, 0);
}

p {
    margin: 0;
}