body {
    font-family: "Roboto", sans-serif;
}

/* Header */
.header {
    position: relative;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: block;
    padding: 0 15px;
    margin: 0 auto;
}

.header_top {
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.component_1 {
    display: flex;
    align-items: center;
}

.component_2 {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.logout {
    font-size: 14px;
    border: none;
    color: #0061A3;
    background-color: rgba(240, 248, 255, 0);
}

p {
    margin: 0;
}

.social {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}

.social img {
    height: 100%;
}

b {
    font-weight: 700;
}

.lang_select {
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: rgba(240, 248, 255, 0);
}

.header_nav {
    display: flex;
    align-items: center;
    height: 34px;
    background-color: red;
    border-radius: 10px;
    justify-content: space-between;
    margin: 10px 0 2px;
}

.nav_link {
    color: white;
}

.navbar {
    display: flex;
}

.nav_item {
    border-right: 1px solid #FFFF;
    padding: 0 25px 0 25px;
}

.nav_link:hover {
    text-decoration: underline;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 34px;
    background-color: #0061A3;
    border-radius: 10px;
}


/* section banner */

.banner {
    display: flex;
    justify-content: center;
}

.banner_container {
    height: 462px;
    width: 1200px;
    background-image: url(https://www.smart-winners.com/images/banners/banners_3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* section info */

.info {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 110px;
}

.cards_container {
    height: 100%;
    width: 1200px;
    padding: 0 15px 0 15px;
}

#cardsInner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    color: black;
    justify-content: space-between;
}

.cardContainer {
    display: flex;
    height: 108px;
    width: 378px;
    color: black;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.icon_container {
    margin-left: 5px;
    height: 100%;
    width: 70px;
}

.info_container {
    padding: 5px;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
}

.card_link {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: #0061A3;
}

.card_link:hover {
    text-decoration: underline;
}

.card_des {
    padding-top: 10px;
    color: #5F5F5F;
}

/* section lottery */

.lottery {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    height: 213px;
}

.lottery_container {
    padding: 0 15px 0 15px;
    width: 1200px;
    height: 213px;
}

.lottery_title {
    font-size: 24px;
    font-weight: 500px;
}

#lotteryInner {
    display: flex;
    height: 189px;
    justify-content: space-between;
    align-items: end;
}

.lottery_item {
    height: 145px;
    width: 378px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.lot_top {
    display: flex;
    height: 80px;
    padding: 5px 0 5px;
}


.lot_bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 55px;
    background-color: #0061A3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    width: 141px;
    height: 80px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
}

.lot_icon {
    padding: 0 5px;
}

.lot_info {
    padding: 20px 0
}

.lot_content {
    display: flex;
    color: black;
    justify-content: space-evenly;
}

.lot_des {
    width: 178px;
    height: 17px;
}

.lot_price {
    font-size: 26px;
    font-weight: bold;
    color: #13902A;
}

.btn_play_now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7D300;
    height: 36px;
    width: 171px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.btn_play_now:hover {
    background-color: #daba06;
}

.timer_container {
    display: flex;
    align-items: center;
}

.lot_timer {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
    color: #FFFF;
}

/* section play */

.play {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.play_container {
    width: 1200px;
    padding: 0 15px;
}

.red_title_container {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 25px;
    border-radius: 8px;
    background-color: #F30000;
}

.red-title {
    color: #FFFF;
    font-size: 18px;
    font-weight: 600;

}


#playInner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
}

.play_item {
    margin: 0 5px 15px;
    width: 208px;
    height: 270px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}


.more {
    display: flex;
    justify-content: end;
}

.more a {
    font-size: 18px;
    font-weight: 500;
    color: #0061A3;
    text-decoration: none;
}

.more a:hover {
    text-decoration: underline;
}


.star {
    position: absolute;
    top: 10px;
    right: 15px;
}