body {
    font-family: "Roboto", sans-serif;
}

/* Header */
.header {
    position: relative;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: block;
    padding: 0 15px;
    margin: 0 auto;
}

.header_top {
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
}



/* Hamburger menu */
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}

.hamburger_menu {
    width: 30px;
    height: 3px;
    background: #F30000;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.hamburger_menu::before,
.hamburger_menu::after {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 3px;
    background: #F30000;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.hamburger_menu::before {
    transform: translateY(-10px);
}

.hamburger_menu::after {
    transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .hamburger_menu {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .hamburger_menu::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .hamburger_menu::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.component_1 {
    display: flex;
    align-items: center;
}

.component_2 {
    display: flex;
    align-items: center;
}


.user {
    display: flex;
    align-items: center;
}

.user_icon {
    display: none;
}



.logout {
    font-size: 14px;
    border: none;
    color: #0061A3;
    background-color: rgba(240, 248, 255, 0);
}

p {
    margin: 0;
}

.social {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}

.social img {
    height: 100%;
}

b {
    font-weight: 700;
}

.lang_select {
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: rgba(240, 248, 255, 0);
}

.header_nav {
    display: flex;
    align-items: center;
    height: 34px;
    background-color: red;
    border-radius: 10px;
    justify-content: space-between;
    margin: 10px 0 2px;
}

.nav_link {
    color: white;
}

.navbar {
    display: flex;
}

.nav_item {
    border-right: 1px solid #FFFF;
    padding: 0 25px 0 25px;
}

.nav_link:hover {
    text-decoration: underline;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 34px;
    background-color: #0061A3;
    border-radius: 10px;
}


/* section banner */

.banner {
    display: flex;
    justify-content: center;
}

.banner_container {
    height: 462px;
    width: 1200px;
    background-image: url(https://s3-alpha-sig.figma.com/img/c36b/e77c/d7487af3701169fbf2230c9fe68022d5?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AOIZS5UGlzWe3bIV2EIZibNbK3tMQdotcYXtbP5v9Z48He0CKLngimDrymjQLTkJJ2RpCayVWUmP~EVQItcG8gxfdwfZLrmNJxZl2pfqIaeAI1iSgJfg1RysOtbhZmUQU3Mkf077I0-zEvMTl9rmHeBnlJIG~ljK9xTa2Lxs8Up0B6IpSjPNBVdjQiz2uTMNwxaPJRskP9bznIHPiHEFhXeYYXbf-2lHQfM1mDXjgc1T5FyFgls9EwQDXZgx5C9tXLoLefJxSRRgrxoUpVi9yebhtU2rVvFb0mQz2HufkdKYwp~8Xb9fUniEK-nnXJCdSsUbDl20fTjp3rDzBDytXg__);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* section info */

.info {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.cards_container {
    height: 100%;
    width: 1200px;
    padding: 0 15px 0 15px;
}

#cardsInner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    color: black;
    justify-content: space-between;
}

.cardContainer {
    display: flex;
    height: 108px;
    width: 378px;
    color: black;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.icon_container {
    margin-left: 5px;
    height: 100%;
    width: 70px;
}

.info_container {
    padding: 5px;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
}

.card_link {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: #0061A3;
}

.card_link:hover {
    text-decoration: underline;
}

.card_des {
    padding-top: 10px;
    color: #5F5F5F;
}

/* section lottery */

.lottery {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    /* height: 213px; */
}

.lottery_container {
    padding: 0 15px 0 15px;
    width: 1200px;
    /* height: 213px; */
}

.lottery_title {
    font-size: 24px;
    font-weight: 500px;
}

#lotteryInner {
    display: flex;
    /* height: 189px; */
    justify-content: space-between;
    align-items: end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lottery_item {
    height: 145px;
    width: 378px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.lot_top {
    display: flex;
    height: 80px;
    padding: 5px 0 5px;
}


.lot_bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 55px;
    background-color: #0061A3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    width: 141px;
    height: 80px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
}

.lot_icon {
    padding: 0 5px;
}

.lot_icon2 {
    padding: 0 5px;
}


.lot_info {
    padding: 20px 0
}

.lot_content {
    display: flex;
    color: black;
    justify-content: space-evenly;
}

.lot_des {
    width: 178px;
    height: 17px;
    font-weight: 500;

}

.lot_price {
    font-size: 26px;
    font-weight: bold;
    color: #13902A;
}

.btn_play_now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7D300;
    height: 36px;
    width: 171px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.btn_play_now:hover {
    background-color: #daba06;
}

.timer_container {
    display: flex;
    align-items: center;
}

.lot_timer {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
    color: #FFFF;
}

/* section play */

.play {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.play_container {
    width: 1200px;
    padding: 0 15px;
}

.red_title_container {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 25px;
    border-radius: 8px;
    background-color: #F30000;
}

.red-title {
    color: #FFFF;
    font-size: 18px;
    font-weight: 600;

}


#playInner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
}

.play_item {
    position: relative;
    margin: 0 5px 15px;
    width: 208px;
    height: 270px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.star {
    position: absolute;
    top: 10px;
    right: 15px;
}

.container_img {
    width: 96px;
    height: 96px;
    display: flex;
    margin: 10px auto;
    border: 2px solid #E0E0E0;
    border-radius: 100%;
}

.play_img {
    width: 92px;
    height: 58px;
    margin: auto;
}

.play_img img {
    padding: 5px;
    width: 100%;

}

.play_info {
    padding: 10px 0;
}

.play_content {
    display: flex;
    justify-content: center;
}

.play_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.prize_container {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.prize {
    font-size: 20px;
    font-weight: bold;
}

.timer_container {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.play_timer {
    color: #0061A3;
}

.btn_play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7D300;
    height: 36px;
    width: 171px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 12px auto;
}

.btn_play:hover {
    background-color: #daba06;
}

.icon_play {
    padding-left: 5px;
}

.more {
    display: flex;
    justify-content: end;
}

.more a {
    font-size: 18px;
    font-weight: 500;
    color: #0061A3;
    text-decoration: none;
    margin-right: 50px;
}

.more a:hover {
    text-decoration: underline;
}

/* section winners */

.winners {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.winner_container {
    width: 1200px;
    padding: 0 15px;
}

.winner-wapper {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.winner_col_one {
    width: 775px;

}

.winner_col_two {
    width: 380px;
}

.won {
    height: 358px;

    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.winner_title {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.win_title {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
}

.win_amount {
    margin-left: 5px;
    color: #0061A3;
}

.winner_info {
    display: flex;
}

.winner_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.winner_result {
    padding: 20px 0px 0px 18px;
    display: flex;
    flex-direction: column;
}

.win_result {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.result_text {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px
}

.result_info {
    margin-left: 10px;
    margin-top: -3px;
}

.result_numbers img {
    margin-right: 3px;
}


.result_numbers {
    display: flex;
}

.result_date {
    font-size: 12px;
    font-weight: 500;
    padding-left: 12px;
    margin-top: 5px;
}


.winner_content {
    padding: 0 15px;
}

.content_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.content_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}

.content_description {
    width: 232px;
    font-weight: 500;
    line-height: 21px;
}

.content_more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

.more_link {
    display: flex;
    justify-content: center;
}

.content_more a {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #0061A3;
    text-decoration: none;
}

.content_more a:hover {
    text-decoration: underline;

}

.latest_winners {
    height: 98px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.latest_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 5px;
}

.prize {
    font-size: 26px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 5px;
}

.prize1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 22px;
    color: #13902A;
    margin-top: 5px;
}


.tickets {
    display: flex;
    margin-top: 5px;
}

.ticket_sum {
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    margin-right: 10px;
}

.ticket_text {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 8px;
}

.winner_item {
    height: 78px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.winners_content {
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.logo_container {
    margin-left: 14px;
    align-items: center;
    display: flex;
}

.logo {
    width: 76px;
    height: 58px;
}

.date_container {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 13px;
}

.winner_text {
    display: flex;
}

.winner_title {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-top: -5px;
    margin-left: 5px;
}

.flag {
    margin-top: -2px;
    height: 15px;
}

.winners_prize {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1.1px;
    color: #5F5F5F;
}

/* section questions */

.questions {
    margin: 75px 0;
    display: flex;
    justify-content: center;
}

.questions_container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.questions_inner {
    padding: 0 15px;
}

.questions_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-left: 5px;
    text-align: center;
}

.accordion {
    margin: 15px auto;
    max-width: 776px;
}

.collapsible {
    background-color: white;
    cursor: pointer;
    padding: 18px 10px 8px 20px;
    width: 100%;
    border: none;
    text-align: left;
    border-bottom: 0.9px solid #E0E0E0 !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #0061A3;
}

.collapsible:after {
    content: '\2303';
    color: #555;
    float: right;
    margin-left: 5px;
    transform: rotate(180deg) !important;
}

.active:after {
    content: '\2303';
    color: #555;
    float: right;
    margin-left: 5px;
    transform: rotate(0deg) !important;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out; */
    background-color: white;
    border-bottom: 0.9px solid #E0E0E0 !important;
}

.content p {
    margin: 18px 20px;
    font-size: 15px;
    color: #5F5F5F;
    font-style: italic;
    font-weight: 300;
}

/* footer section */

.footer {
    height: fit-content;
    margin-bottom: 50px;
    background: url(https://www.smart-winners.com/assets/images/stars.svg) repeat-x !important;
}

.footer_container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer_inner {
    padding: 136px 0px 0 0;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact-wrapper {
    display: flex;
}

.contact_whatsapp {
    display: flex;
}

.contact_text {
    padding-left: 8px;
}

.contact_title {
    margin-top: -2px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    color: #0061A3
}

.contact_subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    color: #5F5F5F;
}

.contact_title:hover {
    text-decoration: underline;
}

.contact_telegram {
    display: flex;
    padding-left: 8px;
}

.contact_icon {
    width: 37px;
    height: 37px;
    margin-right: 9px;
}

.contact_icon:last-child {
    margin-right: 24px;
}


.footer_info {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    width: initial;
}

.column_two {
    padding-left: 12px;
}

.col_one_links {
    display: flex;
    flex-direction: column;
}

.footer_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
}

.footer_link {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
}

.footer_link:hover {
    color: #0061A3;
    text-decoration: underline;
}

.col_two_links {
    display: flex;
    flex-direction: column;
}

.footer_text {
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    width: 250px;
    margin: 5px 0px 0px -3px;
}

.footer_address {
    font-size: 13px;
    font-weight: 500;
    line-height: 130%;
    width: 250px;
    margin: 3px 0px 0px -3px;
}

.footer_regulation {
    width: 250px;
    margin-left: -3px;
}

.payment_methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 152px;
    margin: -6px 15px 23px 0px;
}

.payment_link {
    padding-top: 5px;
}

.footer_security {
    display: flex;
    width: 152px;
    margin: 10px 16px 0 0;
}

.time_load {
    margin-top: 15px;
    color: #a39e9e85;
}

.sec_img {
    margin-right: 10px;
}


.security_title {
    margin-top: 5px;
    padding-right: 25px;
}