
.header2{
	padding: 5px;
	font-size: 50px;
	font-weight: 700;
    background: linear-gradient(180deg, #57E8CE 34.90%, #187AD4 82.81%);
	background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-wrapper{
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1040px;
}

.service{
	text-align: center;
	padding: 15px;
	width: 230px;
	height: 200px;
	cursor: pointer;
	/* transition: all 0.5s ease;
	/* z-index: 1;
	position: relative;
	*/
}

.service:hover{
    background: rgba(217, 217, 217, 0.16);
	border-radius: 5px;
}

.phone{
	height: 125px;
}

.web{
	height: 125px;
}

.service h3 {
	margin-top: 25px;
}


.divider .ball2 {
	display: inline-block;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
	background: linear-gradient(134.83deg, #57E8CE 34.90%, #187AD4 82.81%);
}

.square{
	width: 230px;
	height: 200px;
}

.service.active{
	background: rgba(217, 217, 217, 0.16);
	border-radius: 5px;
	position: fixed;
	animation: 2s mymove  ease;
	box-shadow: 0px 4px 38px 2px rgba(0, 0, 0, 1);
	z-index: 10;
	background-color: #212121;
	/* transform: translate(0%, -8%); */
	width: 230px;
	height: 200px;

}


@keyframes mymove {
    /* 0% {
        top: 0;
        left: 0;
    } */
    0% {
		width: 600px;
		height: 400px;
		transform: translate(-50%, -50%);
    }
} 

/* 
@keyframes slideDown {
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.card-content {
	padding: 100px 25px 25px;
	overflow: auto;
	height: 100%;
	color: #fff;
	background-color: aquamarine;
	/* transform: translate(50%, 50%); 
	position: absolute;
	z-index: 4;
}
.card-content > * {
	transform: translateY(-35px);
	opacity: 0;
}
.card-content h3 {
	font-size: 32px;
	margin-bottom: 35px !important;
	animation: slideDown 0.5s ease-out forwards;
}
.card-content img {
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
	animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content p {
	color: #999;
	animation: slideDown 0.5s ease-out 0.4s forwards;
} */