body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	font-family: "Montserrat", sans-serif !important;
	/* overscroll-behavior: none; */
	/* overflow: auto; */
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
	/* From https://css.glass */
	/* From https://css.glass */
	background: rgba(0, 0, 0, 0.46);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.6px);
	-webkit-backdrop-filter: blur(10.6px);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

#content-container{
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	overflow-y: scroll;
	height: 100vh;
	/* z-index: 1;  */
	transition: filter 2.9s ease;
}

.section {
	height: 710px;
	display: flex;
	justify-content: center;
}

.container{
	max-width: 1270px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	z-index: 1;
	width: 100%;
}

.blur-background {
	backdrop-filter: blur(4px);
	/* transition: filter 0.9s ease; */
	
}

.title h1 {
    font-size: 100px;
	font-weight: 400;

}

#greeting {
	font-size: 35px;
	margin-bottom: 45px;
}

.header-container{
	display: flex;
	justify-content: center;
}

.header{
	font-size: 50px;
	font-weight: 700;
    background: linear-gradient(180deg, #FFBD5A 25.07%, rgba(233, 0, 0, 0.7) 91.62%);
	background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-container{
	width: 1100px;
}

.title h3 {
    font-size: 30px;
	font-weight: 400;
	padding-top: 15px;
	padding-left: 8px;

}

.divider-container{
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.divider .ball {
	display: inline-block;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background: linear-gradient(134.83deg, #FFBD5A 25.07%, rgba(233, 0, 0, 0.7) 91.62%);
}

.about-me {
	text-align: center;
	font-size: 22px;
	width: 1100px;
	margin-top: 150px;
}


a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}